@font-face{
	src: url('fonts/PoppinsReg.ttf');
	font-family: 'Poppins';
	font-weight: 400;
}

@font-face{
	src: url('fonts/PoppinsLight.ttf');
	font-family: 'Poppins';
	font-weight: 300;
}

@font-face{
	src: url('fonts/PoppinsSem.ttf');
	font-family: 'Poppins';
	font-weight: 600;
}

.title{
	font-size: 22px;
	font-weight: 600;
	text-transform: uppercase;
	line-height: 1.2;
	letter-spacing: 4.78px;
	max-width: 100px;
}

.links{
	font-size: 12px;
	line-height: 2.7;
	letter-spacing: 2.87px;
	display: flex;
    justify-content: space-between;
    width: 255px;
    padding: 10px 40px 0 0;
    list-style: none;
    font-weight: 600;
    text-transform: uppercase;
}

.link{
	text-decoration: none;
	color: #000000;
}

.header-container{
	padding: 10px 0 0 37px;
	display: flex;
    justify-content: space-between;
}

.subtitle{
	font-size: 20px;
	line-height: 0.9;
	letter-spacing: 3px;
	text-transform: uppercase;
	margin: 0;
}

.header-name{
	position: absolute;
    top: 240px;
    left: 35px;
}

.about{
    font-size: 12px;
    line-height: 1.6;
    max-width: 400px;
    letter-spacing: 0.6px;
    color: rgba(0, 0, 0, 0.7);
}


.about-header{
	margin: 30px 0 60px;
}

.about-right{
    margin: 30px 0 0 80px;
}

.about-about{
	margin: 25px 0 0;
}
.button{
    color: #fff;
    border: 2px solid #fff;
    line-height: 2.8;
    letter-spacing: 3px;
    font-size: 12px;
    text-align: center;
    border-radius: 20.2px;
    text-transform: uppercase;
    min-width: 192px;
    background: transparent;
    margin: 0 12px 0 0;
    font-weight: 600;
}

.button-about{
	background: transparent;
}

.button-send{
	background: #000;
}

.header{
	background-image: url("images/background.jpg");
	height: 714px;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.wrapper{
	max-width: 1200px;
    margin: 0 auto;
    font-family: 'Poppins', sans-serif;
}

.about-section{
    display: flex;
    letter-spacing: 0.48px;
    max-width: 1128px;
	margin: 40px auto 55px;
}

.years{
	font-weight: 300;
	font-size: 12px;
	color: rgba(0, 0, 0, 0.7);
}

.view{
	font-size: 12px;
	line-height: 1.5;
	letter-spacing: 0.48px;
	color: #000;
	text-decoration: none;
	margin: 15px 0 0;
    display: block;
}
.about-img{
	width: 308px;
  	height: 340px;
}

.subtitle-text{
	font-size: 12px;
	text-transform: lowercase;
	letter-spacing: 0.48px;
}

.download{
	color: #000;
	font-size: 12px;
	line-height: 1.5;
	display: block;
	margin: 30px 0 0 0;
}

.about-paragraph{
	display: flex;
	font-weight: 600;
	margin: 0px 0 0 55px;
}

.row {
  	display: flex;
}

.column {
  	flex: 50%;
}

.work{
	margin: 80px 0 0 55px;
}

.works{
	text-align: center;
	background: #d1bac8;
    padding: 57px 0 65px;
}

.position{
	font-size: 12px;
    line-height: 1.8;
    margin: 20px 0 0;
    max-width: 70%;
}


.caption{
	margin: 50px 0 0;
}

.works-container{
	display: flex;
	list-style: none;
	justify-content: space-around;
	padding: 0;
    margin: 45px auto 0;
    max-width: 1140px;
}

.works-text{
	color: rgba(0, 0, 0, 0.6);
	font-size: 13px;
	margin: 17px 0 0;
    display: block;
}

.portfolio-item{
	position: relative;
	height: 234px;
}

.portfolio-item:hover{
	cursor: pointer;
}
.portfolio-item:hover .portfolio-item-text{
	opacity: 1;
}

.portfolio-item:hover::before{
	opacity: 1;
}


.portfolio-item::before{
	content: '';
	background: rgba(255, 255, 255, 0.5);
	width: 100%;
	height: 100%;
	display: block;
	position: absolute;
	opacity: 0;
	transition: all 2s;
}

.portfolio-item-text{
	position: absolute;
	transition: all 2s;
	opacity: 0;
	bottom: 25px;
    left: 40px;
    bottom: 8px;
}

.inputs{
	display: flex;
	flex-direction: column;
	width: 50%;
	margin: 40px 0 0;
}

.form-container{
	display: flex;
    margin: 30px 0 20px;
}

.form-section{
	max-width: 730px;
	text-align: center;
    margin: 40px auto;
}

.form-text{
	font-size: 13px;
	color: rgba(0, 0, 0, 0.7);
}

.textarea{
	width: 40%;
}

.input, .textarea{
	border: none;
	border-bottom: 3px solid rgba(0, 0, 0, 0.3);
	font-weight: 600;
	letter-spacing: 2.16px;
	text-transform: uppercase;
	font-size: 12px;
}


.input{
	padding: 10px 0 15px;
    margin: 0 0 25px 0;
}
.textarea{
	margin: 40px 0 25px 40px;
    height: 160px;
    padding: 10px 0 0;
    line-height: 1.5;
}

.input:focus,
.textarea:focus{
	outline: none;
}
.input:placeholder{
 	color: rgba(0, 0, 0, 0.5);
 	font-weight: 600;
 	font-size: 12px;
 	line-height: 2.8;
 	letter-spacing: 2.16px;
 	font-family: 'Poppins', sans-serif;
 	text-transform: uppercase;
}